.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
object-fit: cover;
height: 15rem;
}

.menuListItem{
    margin: 1rem;
    cursor: pointer;
}
.menuListItem:hover{
    color: rgb(255, 184, 1);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(255, 184, 1);
}